@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/* Variables */
:root {
  --subtitle: blueviolet;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main--gray {
  padding: 30px 0;
  background-color: rgb(228, 228, 228);
}

.title {
  color: var(--subtitle);
  display: block;
  text-align: center;
  font-size: 1.2em;
  padding: 0 45px;
}

.body {
  width: 100%;
  margin-top: 30px;
}

hr {
  margin: 15px 0;
  border: 1px solid rgb(214, 214, 214);
}

/* Header */
.header {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc24307c, #7b439794); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc24307c, #7b439794), url(../img/main-image.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* Nav Section */
.nav {
  width: 100%;
  height: 80px;
  padding: 10px 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.links {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}

.links > li {
  margin-left: 20px;
  list-style: none;
}

.links > li > a {
  color: #fff;
  text-decoration: none;
}

.links > li > a:hover {
  text-decoration: underline;
}

/* Header Section */
.header__section {
  width: 100%;
  height: 400px;
  padding: 20px 55px;
  display: table;
}

.header__texts {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.header__texts h1 {
  color: #fff;
  font-size: 3.5em;
}

/* main */
.main {
  width: 100%;
  height: auto;
  margin-bottom: 45px;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: auto;
  max-width: 1500px;
  overflow: hidden;
}

/* Products Section */
.our-products {
  width: 100%;
  height: auto;
}

.our-products__body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.body__img {
  grid-column: 1/5;
}

.body__img img {
  width: 100%;
}

.body__texts {
  grid-column: 5/10;
  padding: 0 55px;
}

.body__texts h4 {
  color: var(--subtitle);
}

.body__texts .product-point {
  color: #fff;
  padding: 2px 8px;
  background-color: var(--subtitle);
  border-radius: 50%;
  font-size: 1.2em;
  margin-right: 8px;
}

.body__texts .products-description {
  line-height: 1.6em;
}

/* Portfolio Section */
.gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.img-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: blueviolet;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.img-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

.img-port:hover > img {
	transform: translateY(-30px);
	-webkit-transform:translateY(-30px);
	-moz-transform:translateY(-30px);
	-ms-transform:translateY(-30px);
	-o-transform:translateY(-30px);
}

.img-hover {
  width: 100%;
  height: 80px;
  padding-top: 8px;
  font-size: 0.9em;
  text-align: center;
  opacity: 0;
	bottom: -5px;
  cursor: pointer;
  background-color: rgba(137, 43, 226, 0.5);
  color: #fff;
  position: absolute;
	-webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

.img-port:hover .img-hover {
  opacity: 1;
	transform: translateY(-5px);
	-webkit-transform:translateY(-5px);
	-moz-transform:translateY(-5px);
	-ms-transform:translateY(-5px);
	-o-transform:translateY(-5px);
}

/* Cards Section */
.comments {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  height: auto;
  gap: 1em;
}

.card {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
}

.card1 {
  grid-column: 1/3;
}

.card2 {
  grid-column: 3/5;
}

.card__thumbnail {
  width: 350px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden; 
}

.card__img {
  width: 100%;
}

.card__title {
  padding: 5px 15px;
  color: blueviolet;
  font-size: 1.1em;
  font-weight: 400;  
}

.card__paragraph {
  padding: 5px 15px;
  color: rgb(59, 59, 59);
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

.card__button {
  border: none;
  min-width: 150px;
  height: 30px;
  padding: 17px 20px;
  font-size: 0.8em;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  background-color: blueviolet;
  display: inline-flex;
  border-radius: 100px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  transition: .2s;
}

.card__button:hover {
  background-color: rgb(104, 30, 173);
  transition: .2s;
}

.card__button--absolute {
  position: absolute;
  right: 20px;
  bottom: -15px;
}

/* Services */

/* Footer */
.footer {
  width: 100%;
  height: auto;
}
