@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* Variables */
:root {
  --subtitle: blueviolet;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main--gray {
  padding: 30px 0;
  background-color: rgb(228, 228, 228);
}

.title {
  color: var(--subtitle);
  display: block;
  text-align: center;
  font-size: 1.2em;
  padding: 0 45px;
}

.body {
  width: 100%;
  margin-top: 30px;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: auto;
  max-width: 1500px;
}

hr {
  margin: 15px 0;
  border: 1px solid rgb(214, 214, 214);
}

/* Back to Top Button */
.btt {
  color: #fff;
  padding: 12px 17px;
  position: fixed;
  cursor: pointer;
  display: none;
  bottom: 20px;
  right: 30px;
  border-radius: 50%;
  font-size: 1.6em;
  z-index: 99;
  outline: none;
  background: rgba(137, 43, 226, 0.5);
}

.btt:hover {
  background: rgba(82, 26, 134, 0.5);
}

/* Responsive Menu */
.menu {
  width: 100%;
  display: none;
  position: fixed;
  padding: 20px 0;
  z-index: 99;
  border-bottom: solid 2px #fff;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
}

.menu__links {
  text-align: center;
  padding: 0 25px;
}

.menu__links > li {
  list-style: none;
  margin-bottom: 15px;
}

.menu__links > li a {
  color: #fff;
  text-decoration: none;
}

/* Header */
.header {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc24307c, #7b439794); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc24307c, #7b439794), url(../img/main-image.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* Nav Section */
.nav {
  width: 100%;
  height: 80px;
  padding: 10px 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  transition: .5s;
}

.logo {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.links {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}

.links > li {
  margin-left: 20px;
  list-style: none;
}

.links > li > a {
  color: #fff;
  text-decoration: none;
}

.links > li > a:hover {
  text-decoration: underline;
}

/* Header Section */
.header__section {
  width: 100%;
  height: 400px;
  padding: 20px 55px;
  display: table;
}

.header__texts {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.header__texts h1 {
  color: #fff;
  font-size: 3.5em;
}

.header__texts h3 {
  color: rgb(182, 182, 182);
}

/* main */
.main {
  width: 100%;
  height: auto;
  margin-bottom: 45px;
}

/* Products Section */
.our-products {
  width: 100%;
  height: auto;
}

.our-products__body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.body__img {
  grid-column: 1/5;
}

.body__img img {
  width: 100%;
}

.body__texts {
  grid-column: 5/10;
  padding: 0 55px;
}

.body__texts h4 {
  color: var(--subtitle);
}

.body__texts .product-point {
  color: #fff;
  padding: 2px 8px;
  background-color: var(--subtitle);
  border-radius: 50%;
  font-size: 1.2em;
  margin-right: 8px;
}

.body__texts .products-description {
  line-height: 1.6em;
}

/* Portfolio Section */
.gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.img-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: blueviolet;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.img-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

.img-port:hover > img {
	transform: translateY(-30px);
	-webkit-transform:translateY(-30px);
	-moz-transform:translateY(-30px);
	-ms-transform:translateY(-30px);
	-o-transform:translateY(-30px);
}

.img-hover {
  width: 100%;
  height: 80px;
  padding-top: 8px;
  font-size: 0.9em;
  text-align: center;
  opacity: 0;
	bottom: -5px;
  cursor: pointer;
  background-color: rgba(137, 43, 226, 0.5);
  color: #fff;
  position: absolute;
	-webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

.img-port:hover .img-hover {
  opacity: 1;
	transform: translateY(-5px);
	-webkit-transform:translateY(-5px);
	-moz-transform:translateY(-5px);
	-ms-transform:translateY(-5px);
	-o-transform:translateY(-5px);
}

/* Cards Section */
.comments {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  height: auto;
  column-gap: 1em;
}

.comments__title {
  grid-column: 1/5;
}

.card {
  display: flex;
  background-color: #fff;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
}

.card1 {
  grid-column: 1/3;
}

.card2 {
  grid-column: 3/5;
}

.card__thumbnail {
  width: 370px;
  height: 170px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__title {
  padding: 5px 15px;
  color: blueviolet;
  font-size: 1.1em;
  font-weight: 400;  
}

.card__paragraph {
  padding: 5px 15px;
  color: rgb(59, 59, 59);
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

.card__button {
  border: none;
  min-width: 150px;
  height: 30px;
  padding: 17px 20px;
  font-size: 0.8em;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  background-color: blueviolet;
  display: inline-flex;
  border-radius: 100px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  transition: .2s;
}

.card__button:hover {
  background-color: rgb(104, 30, 173);
  transition: .2s;
}

.card__button--absolute {
  position: absolute;
  right: 20px;
  bottom: -15px;
}

/* Services */
.services__body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1em;
  margin-bottom: 30px;
}

.service--one {
  grid-column: 1/3;
}

.service--two {
  grid-column: 3/5;
}

.service--three {
  grid-column: 5/7;
}

.service__thumbnail {
width: 350px;
height: 250px;
overflow: hidden;
margin-bottom: 15px;
}

.service__thumbnail > img {
  width: 100%;
  height: 250px;
}

.service__description > h4 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--subtitle);
}

.service__description > p {
  text-align: justify;
  line-height: 1.6em;
}

/* Footer */
.footer {
  width: 100%;
  height: auto;
  border-top: solid 3px blueviolet ;
  padding: 50px 35px 15px 35px;
  background-color: rgb(53, 51, 58);
}

.footer .contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.contact {
  text-align: center;
}

.contact .contact-name {
  color: #fff;
  font-weight: 400;
} 

.contact-underline {
  border: solid 1px blueviolet;
}

.contact .contact-number {
  color: rgb(112, 112, 112);
}

.footer .copyright {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  border-top: solid 1px rgb(134, 134, 134);
  color: rgb(134, 134, 134);
  font-style: italic;
}

/* Media Querys */
@media screen and (max-width: 576px) {
  /* General Styles */
  .title {
    font-size: 1em;
  }
  
  /* Header Section */
  .header {
    height: 100vh;
  }

  .nav {
    justify-content: space-between;
    padding: 0 15px;
  }

  .logo {
    padding: 0 10px;
  }

  .logo span {
    font-size: 1.8em;
  }

  .links {
    display: none;
  }

  .menu-icon {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
  }

  .menu-icon .icon {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
  }

  .header .wave {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  /* Comments Section */
  .comments {
    grid-template-columns: repeat(4, 1fr);
  }

  .card1 {
    grid-column: 1/5;
    grid-row: 1/3;
  }

  .card2 {
    grid-column: 1/5;
    grid-row: 3/6;
  }

  /* Services Section */
  .services__body {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(3, 400px);
    column-gap: unset;
  }

  .service--one {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .service--two {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .service--three {
    grid-column: 1/5;
    grid-row: 3/4;
  }
}
